body {
    margin: 0;
    padding: 0;
    background-image: url('pictures/header.jpg.png'); /* Az elérési útvonal és a fájlnév a saját képedre cseréld le */
    background-size:auto;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    
    padding-top: 500px;
    padding-left: 20px;
    padding-right: 30px;
}

h1 {
    font-size: 3em; /* Példa: növeli a fejléc méretét */
}

